*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/local.properties
app/gradlew.bat
app/gradlew
app/gradle/wrapper/gradle-wrapper.properties
app/gradle/wrapper/gradle-wrapper.jar
